@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
<<<<<<< HEAD
  font-family: 'Helvetica Neue', sans-serif;
=======
  font-family: 'Helvetica Neue',
    sans-serif;
>>>>>>> 3e30c2960ba3a954b19cb55b8677cb8d76ade825
}